body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  font-family: sans-serif;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

input {
  font-size: 16px;
  padding: 12px;
}

button {
  font-size: 16px;
  padding: 8px 15px;
  color: white;
  font-weight: 900;
  background-color: blue;

  display: inline-block;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid royalblue;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.box {
  height: 650px;
  width: 500px;
  border-radius: 6%;
  border: 2px solid gray;
  background-color: #f7f7f7;
}

.todo {
  position: relative;
  padding: 8px;
  border: 1px solid black;
}

.x-button {
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  font-weight: bold;
  padding: 2px 6px;
  margin-top: 5px;
  margin-right: 6px;
  color: white;
  background-color: red;
  border: 1px solid black;
}

.todos {
  margin: 0;
  padding: 0;
}
